
{{#if user}}
{{!-- <a href="/users/logout" type="button" class="btn btn-background mb-1">Log out</a> --}}
<div class="btn-group">
    <div id="dropdownMenuButton" class="dropdown d-inline-block btn btn-outline mb-1"  
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="user">
            <avatar class="user__avatar">
                {{#unless user.avatar}}
                <img src="https://avatars.dicebear.com/api/human/{{user.name}}.svg" alt="{{user.name}} Profile Picture" width="23"
                    height="23">
                {{else}}
                <img src="{{user.avatar}}" alt="{{user.name}} Profile Picture" width="23" height="23">
                {{/unless}}
            </avatar>
            <name class="user__name">
                {{user.name}}
            </name>
        </div>
        <div class="dropdown-menu dropdown-menu-right mt-3">
            <span class="dropdown-item" href="#" >
                <span class="ml-1">{{user.name}}</span>
            </span>
            {{#if (or
            (eq user.role "admin")
            (eq user.role "extraAdmin"))}}
            <a onclick="location = this.href" class="dropdown-item text-danger" href="/me/stored/comics/dashboard/admin">
                <i class="fas fa-users-cog"></i>
                <span class="ml-1">Admin Dashboard</span>
            </a>
            {{/if}}
            <span class="dropdown-item" href="#" style="color: var(--theme-color-1);">
                <i class="fas fa-coins"></i> 
                <span class="ml-1">{{user.coin}} Coins</span>
            </span>
            <a onclick="location = this.href" class="dropdown-item" href="#">Account</a>
            <a onclick="location = this.href" class="dropdown-item" href="#">Features</a>
            <a onclick="location = this.href" class="dropdown-item" href="#">History</a>
            <a onclick="location = this.href" class="dropdown-item" href="#">Support</a>
            <a onclick="location = this.href" class="dropdown-item" href="/users/logout">Sign out</a>
        </div>
    </div>
</div>


{{else}}
<a href="/users/login" type="button" class="btn btn-background mb-1">Log in</a>
<a href="/users/register" type="button" class="btn btn-outline mb-1">Sign up</a>

{{/if}}