
{{#if user}}
{{!-- <a href="/users/logout" type="button" class="btn btn-background mb-1">Log out</a> --}}
<div id="dropdownMenuButton" class="dropdown d-inline-block btn btn-outline mb-1" type="button" 
data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="user">
        <avatar class="user__avatar">
            {{#unless user.avatar}}
            <img src="https://avatars.dicebear.com/api/human/{{user.name}}.svg" alt="{{user.name}} Profile Picture" width="23"
                height="23">
            {{else}}
            <img src="{{user.avatar}}" alt="{{user.name}} Profile Picture" width="23" height="23">
            {{/unless}}
        </avatar>
        <name class="user__name">
            {{user.name}}
        </name>
    </div>
    <div class="dropdown-menu mt-3">
        {{#if (or
        (eq user.role "admin")
        (eq user.role "extraAdmin"))}}
        <a onclick="location = this.href" class="dropdown-item text-danger" href="/me/stored/comics/dashboard/admin">
        Admin Dashboard</a>
        {{/if}}
        <a onclick="location = this.href" class="dropdown-item" href="#">Account</a>
        <a onclick="location = this.href" class="dropdown-item" href="#">Features</a>
        <a onclick="location = this.href" class="dropdown-item" href="#">History</a>
        <a onclick="location = this.href" class="dropdown-item" href="#">Support</a>
        <a onclick="location = this.href" class="dropdown-item" href="/users/logout">Sign out</a>
    </div>
</div>

{{else}}
<a href="/users/login" type="button" class="btn btn-background mb-1">Log in</a>
<a href="/users/register" type="button" class="btn btn-outline mb-1">Sign up</a>

{{/if}}