{{#each historyItems}}
<div id="comic-{{this.comicId}}" class="glide__slide">
    <picture>
        <source srcset="{{this.thumbnail}}-thumbnail.webp" type="image/webp" />
        <source srcset="{{this.thumbnail}}-thumbnail.jpeg" type="image/jpeg" />

        <img alt="{{this.title}}" width="198" height="160" src="{{this.thumbnail}}-thumbnail.jpeg"
            onerror="this.onerror=null;this.src='/img/404.jpg';" />
    </picture>
    <bottom-info>
        <a href="{{this.comicUrl}}">
            <info-title class="ellipsis">
                {{this.title}}
            </info-title>
        </a>
        <a href="{{this.chapterUrl}}">
            {{#each (limitlast this.chapterNameList 1) }}
            <info-chapter id="chapter-{{this._id}}">
                {{chapterText this.chapter}}
            </info-chapter>
            {{/each}}
        </a>
        <info-sub onclick="return subscribe(this);" class="info-sub">
            <input name="comicId" value="temp" type="hidden">
            <i class="fas fa-check"></i>
        </info-sub>
    </bottom-info>
</div>
{{/each}}