
{{#if isLoggedIn}} 
    {{#each sublist}}
        <div id="comic-{{this._id}}" class="glide__slide">
                <picture>
                    <source srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.webp" type="image/webp" />
                    <source srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.jpeg" type="image/jpeg" />
            
                    <img alt="{{this.title}}" width="198" height="160" src="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.jpeg"
                        onerror="this.onerror=null;this.src='/img/404.jpg';" />
                </picture>
            
            <bottom-info>
                <a href="/comic/{{this.slug}}">
                    <info-title class="ellipsis">
                        {{this.title}}
                    </info-title>
                </a>
                {{#each (limit lastest_chapters 1)}}
                <a href="/comic/{{../this.slug}}/{{this.chapter}}">
                    <info-chapter id="chapter-{{this._id}}">
                        {{chapterText this.chapter}}
                    </info-chapter>
                </a>
                {{/each}}

                <form onclick="return subscribe(this);" class="info-sub info-sub--subscribed">
                    <input name="comicId" value="{{this._id}}" type="hidden">
                    <i class="fas fa-check"></i>
                </form>
            </bottom-info>
        </div>
    {{/each}}

{{else}}

    {{#each historyItems}}
    <div id="comic-{{this.comicId}}" class="glide__slide">
        <picture >
            <source srcset="{{this.thumbnail}}-thumbnail.webp"
                type="image/webp" />
            <source srcset="{{this.thumbnail}}-thumbnail.jpeg"
                type="image/jpeg" />
    
            <img alt="{{this.title}}" width="198" height="160"
                src="{{this.thumbnail}}-thumbnail.jpeg"
                onerror="this.onerror=null;this.src='/img/404.jpg';" />
        </picture>
        <bottom-info>
            <a href="{{this.comicUrl}}">
                <info-title class="ellipsis">
                    {{this.title}}
                </info-title>
            </a>
            <a href="{{this.chapterUrl}}">
                {{#each (limitLast this.chapterNameList 1) }}
                    <info-chapter id="chapter-{{this._id}}">
                    {{chapterText this.chapter}}
                    </info-chapter>
                {{/each}}
            </a>
            <form onclick="return subscribe(this);" class="info-sub">
                <input name="comicId" value="{{this.comicId}}" type="hidden">
                <i class="fas fa-check"></i>
            </form>
        </bottom-info>
    </div>
    {{/each}}
{{/if}}