
{{#each commentArr}}
{{#each reply}}
<replies-renderer id="reply-{{this._id}}" class="expander__content expander__content--hide">
    <comment-renderer id="comment" class="comment">
        {{!-- body --}}
        <div id="body" class="comment__body">
            {{!-- thumbnail --}}
            <thumbnail id="author-thumbnail" class="author-thumbnail">
                <img src="/img/profile-pic-l.jpg" alt="" width="40" height="40">
            </thumbnail>

            {{!-- main --}}
            <div id="main" class="main">
                {{!-- header info --}}
                <header id="header" class="header">
                    <div id="header-author" itemprop="creator" itemscope itemtype="http://schema.org/Person"
                        class="header__author">
                        <span itemprop="name">India Pagoda</span>
                    </div>
                    <div id="header-timer" itemprop="commentTime" class="header__timer text-muted text-small">
                        {{CalcTimeEnglish this.updatedAt}}
                    </div>
                </header>

                {{!-- comment --}}
                <comment id="content" class="content">
                    <div id="text" itemprop="commentText" class="content__text">{{this.text}}</div>
                    <form method="POST" onsubmit="return editReplyForm(this);"
                        enctype="application/x-www-form-urlencoded">
                        <input name="comment_id" value="{{../this._id}}" type="hidden">
                        <input name="reply_id" value="{{this._id}}" type="hidden">
                        <textarea name="text" style="display:none"></textarea>
                        <div id="buttonbox" class="mt-5 buttonbox buttonbox--hide">
                            <button type="button" onclick="return normalState(this);"
                                class="resetbtn btn default buttonbox__clearbtn">CLEAR</button>
                            <button type="submit" class="ml-4 btn btn-primary default d-block ">
                                Edit</button>
                        </div>
                    </form>
                </comment>

                {{!-- toolbar --}}
                <toolbar id="toolbar" class="toolbar">
                    <div id="like"><i class="fas fa-thumbs-up"></i></div>
                    <div id="dislike"><i class="fas fa-thumbs-down"></i></div>
                    <div onclick="return showReplyBox(this);" id="reply">Reply</div>
                </toolbar>

                {{!-- replydialog --}}
                <replydialog id="replydialog" class="replydialog d-none">
                    <simplebox id="replybox" class="comment mb-4">
                        <div class="comment__body">
                            <thumbnail id="author-thumbnail" class="author-thumbnail author-thumbnail--small">
                                <img src="/img/profile-pic-l.jpg" alt="" width="40" height="40">
                            </thumbnail>
                            <div class="comment__form">
                                <form method="POST" onsubmit="return postReply(this);"
                                    enctype="application/x-www-form-urlencoded">
                                    <label class="form-group has-float-label">
                                        <input name="comment_id" value="{{../this._id}}" type="hidden"></input>
                                        <input onclick="return showInput(this);" placeholder="Add a comment ..."
                                            class="form-control custom-input customInput" name="text" required
                                            minlength="1">

                                        <svg viewBox="0 0 40 2" class="line" preserveAspectRatio="none">
                                            <path d="M0 1 L40 1"></path>
                                            <path d="M0 1 L40 1" class="focus"></path>
                                            <path d="M0 1 L40 1" class="invalid"></path>
                                            <path d="M0 1 L40 1" class="valid"></path>
                                        </svg>
                                    </label>
                                    <div id="buttonbox" class="buttonbox buttonbox--flex">
                                        <button type="button" onfocus="return resetInput(this);"
                                            class="resetbtn btn default buttonbox__clearbtn">CLEAR</button>
                                        <button type="submit" class="ml-4 btn btn-primary default d-block ">
                                            POST</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </simplebox>
                </replydialog>


                {{!-- Edit menu --}}
                <action-menu-renderer class="action-menu-renderer">
                    <action-menu class="menu menu--style" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="menu__icon fas fa-ellipsis-v"></i>
                        <div class="menu__dropdown dropdown-menu">
                            <a onclick="return editableContent(this);" class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Report</a>
                            <div class="dropdown-divider"></div>
                            <form method="POST" onclick="return destroyReply(this);"
                                enctype="application/x-www-form-urlencoded">
                                <input name="reply_id" value="{{this._id}}" type="hidden"></input>
                                <input name="comment_id" value="{{../this._id}}" type="hidden"></input>
                                <button type="submit" aria-label="Close" class="text-danger dropdown-item">Delete</a>
                            </form>
                        </div>
                    </action-menu>
                </action-menu-renderer>
            </div> {{!-- End main --}}
        </div> {{!-- End body --}}

    </comment-renderer>
</replies-renderer>
{{/each}}
{{/each}}