
{{#ifCond empty '==' true}}
<empty>No Result</empty>
{{/ifCond}}

{{#each comics}}
    <item>
        <picture>
            <source srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.webp"
                type="image/webp" />
            <source srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.jpeg"
                type="image/jpeg" />
        
            <img width="60" height="80" alt="{{this.title}}"
                src="{{../img_url}}/{{this.thumbnail.url}}-thumbnail.jpeg"
                onerror="this.onerror=null;this.src='/img/404.jpg';" />
        </picture>
        <info class="info">
            <a href="/comic/{{this.slug}}" class="info__title">{{this.title}}</a>
            <a href="/comic/{{this.slug}}/{{getObjValues (limit this.chapters 1) "chapter"}}" class="info__chapter">
                {{replaceHyphenIntoSpace (getObjValues (limit this.chapters 1) "chapter")}}
            </a>
        </info>
    </item>
{{/each}}

{{#ifCond leftover '>' 0}}
<left-over>
    <a href="" class="mt-2"> ({{../leftover}}) More Comics</a>
</left-over>
{{/ifCond}}
