
{{#if pages}}
    {{#ifCond current '<=' pages}} 
    <nav class="mt-4 mb-3" aria-label="Page navigation example" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
        <ul class="pagination justify-content-center mb-0">

            {{!-- <li class="page-item ">
                <a class="page-link first" href="#" aria-label="first">
                    <i class="simple-icon-control-start" style="line-height: unset;"></i>
                </a>
            </li> --}}
            <li class="page-item">
                <a class="page-link prev" rel="prev" {{#ifCond ../current '==' 1}}href="#" {{else}}  href="?page=1"
                    aria-label="prev" {{/ifCond}}>
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            {{#ifCond ../current '>' 3}}
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {{/ifCond}}
            {{#ifCond ../prevPage2 '>' 0}}
            <li class="page-item"><a class="page-link" href="?page={{../prevPage2}}">{{../prevPage2}}</a></li>
            {{/ifCond}}
            {{#ifCond ../prevPage '>' 0}}
            <li class="page-item"><a class="page-link" href="?page={{../prevPage}}">{{../prevPage}}</a></li>
            {{/ifCond}}
            <li class="page-item active "><a class="page-link" href="?page={{../current}}">{{../current}}</a></li>
            {{#ifCond ../current '<' ../pages}} <li class="page-item"><a class="page-link"
                    href="?page={{../nextPage}}">{{../nextPage}}</a></li>
                {{/ifCond}}
                {{#ifCond ../nextPage '<' ../pages}} <li class="page-item"><a class="page-link"
                        href="?page={{sum ../nextPage 1}}">{{sum ../nextPage 1}}</a></li>
                    {{/ifCond}}
                    {{#ifCond ../current '<' (minus ../pages 2)}} <li class="page-item disabled"><a class="page-link"
                            href="#">...</a></li>
                        {{/ifCond}}

                        <li class="page-item">
                            <a class="page-link next" rel="next" {{#ifCond ../current '==' ../pages}}href="#" {{else}}
                                href="?page={{../pages}}" aria-label="next" {{/ifCond}}>
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {{!-- <li class="page-item ">
                            <a class="page-link last" href="#" aria-label="Last">
                                <i class="simple-icon-control-end" style="line-height: unset;"></i>
                            </a>
                        </li> --}}

                        {{!-- <li class="page-item">
                            <form action="" method="get">
                                <input type="text" name="page" required>
                                <button type="submit" class="btn btn-primary">nhập số trang</button>
                            </form>
                        </li> --}}
        </ul>
    </nav>
    {{/ifCond}}
{{/if}}