<div class="sign-container {{#ifCond registerSubmit '==' true}}right-panel-active {{/ifCond}}" id="container2">
  <div class="form-container sign-up-container">
    <form action="/users/register" method="POST" class="sign-form">
      <h1 class="sign-title">Đăng ký</h1>


      <input class="sign-input form-control" value="{{name}}"
      name="name" type="text" placeholder="Username" required minlength="6"/>

      <input class="sign-input form-control" value="{{password}}"
      name="password" type="password" placeholder="Password" required minlength="6"/>

      <input class="sign-input form-control" value="{{password2}}"
      name="password2" type="password" placeholder="Confirm Password" required minlength="6"/>

      <button class="sign-submit" type="submit" id="sign-up__submit2">Đăng ký</button>
      <span class="login-by-social-account">hoặc đăng nhập bằng:</span>
      <div class="social-container">
        <a href="/users/facebook/login" class="social social-facebook-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="/users/google/login" class="social social-google-icon"><i class="fab fa-google-plus-g"></i></a>

      </div>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="/users/login" method="POST" class="sign-form">
      <h1 class="sign-title">Đăng Nhập</h1>


      <input class="sign-input form-control {{#ifCond name '==' 0}} is-invalid {{/ifCond}} {{#ifCond wrongUsername '==' true}} is-invalid {{/ifCond}} {{#ifCond wrongUsername '==' false}} is-valid {{/ifCond}}" {{#ifCond name '!=' 0}} 
      value="{{../name}}" {{/ifCond}} name="name" type="text" placeholder="Username" required minlength="6"/>
      <input class="sign-input form-control {{#ifCond name '==' 0}} is-invalid {{/ifCond}} {{#ifCond wrongPassword '==' true}} is-invalid {{/ifCond}}" {{#ifCond password '!=' 0}} value="{{../password}}" {{/ifCond}}  
      name="password" type="password" placeholder="Password" required minlength="6"/>

      <button class="sign-submit" type="submit" id="sign-in__submit2">Đăng Nhập</button>
      <span class="login-by-social-account">hoặc đăng nhập bằng:</span>
      <div class="social-container">
        <a href="/users/facebook/login" class="social social-facebook-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="/users/google/login" class="social social-google-icon"><i class="fab fa-google-plus-g"></i></a>

      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="sign-title">Welcome Back!</h1>
        <p class="overlay-description">Nếu đã có tài khoản thì đăng nhập ở đây</p>
        <button class="ghost" id="signIn2">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="sign-title">Chào Người Mới!</h1>
        <p class="overlay-description">Nếu chưa có tài khoản thì đăng ký ở đây</p>
        <button class="ghost" id="signUp2">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
	const signUpButton2 = document.getElementById('signUp2');
	const signInButton2 = document.getElementById('signIn2');
	const container2 = document.getElementById('container2');
	signUpButton2.addEventListener('click', () => {
		container2.classList.add("right-panel-active");
	});
	signInButton2.addEventListener('click', () => {
		container2.classList.remove("right-panel-active");
	});
});
</script>