<style>
    #navbar {
        background: var(--background-color);
    }
    main {
        height: 100vw;
    }
    html, body {
        background: var(--foreground-color);
    }
    #card-wrapper grid-container {
        grid-auto-rows: 310px;
    }
    .glide__slides {
        flex-wrap: wrap !important;
    }
    .glide__slide {
        width: auto !important;
        min-width: 210px;
        max-width: 210px;
        padding-bottom: 20px;
    }
    
    @media (max-width: 576px) {
        #bookmark-places heading {
            padding: 0px 7% 0 7%!important;
        }
        #bookmark-places .container {
            padding: 0 1rem;
        }
        .glide__slides {
            justify-content: space-around;
        }
        .glide__slide {
            min-width: 45%;
        }
        heading .title, heading icon-right {
            margin: 0;
        }
        icon-right, h2 {
            margin: 0;
        }
    }
</style>
{{!-- <categories-wrapper id="categories-wrapper">
    <div class="categories-inner">
        <ul class="categories">
            <li class="category active"><a href="?">All</a></li>
            {{#each firstCategories}}
            <li class="category"><a href="?_find&columnFind=name&typeFind={{this.name}}">{{this.name}}</a></li>
            {{/each}}
            <li class="category"><div onclick="return drop(this);" class="more">More<i class="fas fa-sort-down"></i></div></li>
        </ul>
    </div>
    <div id="categories-outer" class="categories-outer">
        <ul class="categories">
            {{#each remainingCategories}}
            <li class="category"><a href="?_find&columnFind=name&typeFind={{this.name}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</categories-wrapper> --}}

<section id="bookmark-places" itemprop="articleSection"class="foreground-color">
    <heading class="container">
        <h2 class="title">
            My Bookmarks
        </h2>
        <icon-right>
            <i class="fas fa-chevron-right"></i>
        </icon-right>
    </heading>

    <slider-container id="slider-container" class="d-block container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 pl-0 pr-0">
                        <div id="glide_2" class="glide basic">
                            <div class="glide__track" data-glide-el="track">
                                <div id="glide__slides" class="glide__slides">

                                    {{#if user}}
                                    {{#each sublist.subscribed}}
                                    <div class="glide__slide">
                                            <picture>
                                                <source srcset="{{../img_url}}/{{this.thumbnail.url}}{{../IMAGE_FORMAT_SIZE.WEBP}}" type="image/webp" />
                                                <source srcset="{{../img_url}}/{{this.thumbnail.url}}{{../IMAGE_FORMAT_SIZE.JPEG}}" type="image/jpeg" />
                                                <img width="198" height="160" src="{{../img_url}}/{{this.thumbnail.url}}{{../IMAGE_FORMAT_SIZE.JPEG}}"
                                                    onerror="this.onerror=null;this.src='/img/404.jpg';" />
                                            </picture>
                                        {{!-- <badges>
                                            Up
                                        </badges> --}}
                                        <bottom-info>
                                            <a href="/comic/{{this.slug}}">
                                                <info-title class="ellipsis">
                                                    {{this.title}}
                                                </info-title>
                                            </a>
                                            {{#if this.chapters}}
                                                {{#each (limitDesc this.chapters 0 1 "chapter")}}
                                                <a href="/comic/{{../this.slug}}/chapter-{{this.chapter}}">
                                                    <info-chapter id="chapter-{{this._id}}">
                                                        CH. {{this.chapter}}
                                                        <span>{{CalcTimeEnglish this.updatedAt}}</span>
                                                    </info-chapter>
                                                </a>
                                                {{/each}}
                                            {{/if}}
                                            <form
                                                onclick="return subscribe(this);" 
                                                class="info-sub info-sub--subscribed">
                                                <input name="comicId" value="{{this._id}}" type="hidden">
                                                <i class="fas fa-check"></i>
                                            </form>
                                        </bottom-info>
                                    </div>
                                    {{/each}}
                                    {{else}}
                                    
                                        <h2>Please <a href="/users/login" type="button" class="btn">Log in</a> 
                                        to View your Bookmarks</h2>
                                    {{/if}}

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slider-container>
</section>

