
<style>
    #subnav {
        margin-bottom: 3rem;
    }
    .subnav-container {
        padding: 0 !important;
    }
</style>
        
        <section class="cover"> 
            <picture>
                <source srcset="{{img_url}}/{{comic.thumbnail.url}}-thumbnail-original.jpeg" type="image/jpeg" 
                media="(max-width: 768px)"/>

                <img itemprop="thumbnailUrl" class="backgroundBanner__img" alt="{{comic.title}} Background" 
                src="{{img_url}}/{{comic.thumbnail.url}}-thumbnail-original.jpeg" 
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== 769w"
                />
            </picture>
        </section>

        <section itemprop="mainEntity" itemscope itemtype="https://schema.org/Book"
        id="resize" class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <nav class="breadcrumb-container d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a id="linkcomic">{{comic.title}}</a>
                            </li>
                        </ol>
                    </nav>
                    <div class="separator mb-4"></div>
                    <div class="row">

                        <div id="leftbox" class="l-grid col-12 col-xl-3 col-md-4 col-sm-12 col-left" style="margin: 0 0 auto 0;">
                            <div class="l-grid__image card p-xl-3 col-5 col-xl-12 col-md-12 col-sm-4">
                                <img itemprop="image" alt="{{comic.title}} Main" width="100%" height="auto"
                                src="{{img_url}}/{{comic.thumbnail.url}}-thumbnail-original.jpeg" 
                                />
                            </div>

                            <div class="l-grid__mobile-title">
                                <h2 id="main-title" class="font-weight-bold">{{comic.title}}</h2>
                                <h4 id="sub-title" class="text-muted text-small mb-3">{{comic.subtitle}}</h4>
                            </div>

                            <div class="l-grid__activites">
                                <ul class="activites__list">
                                    <li class="activites__item">
                                        <form onclick="return subscribe(this);"
                                            class="bookmark light-red btn btn-primary default btn-block mb-1">
                                            <input class="bookmark__id" type="hidden" name="comicId" value="{{comic._id}}">
                                            <i class="bookmark__ico"></i>
                                            <span class="bookmark__text"></span>
                                        </form>
                                    </li>
                                    <li class="activites__item">
                                        <div class="activities-wrapper" style="box-shadow: 0 1px 15px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 10%);">
                                            <div class="view">
                                                <i class="view__ico fas fa-user-alt"></i>
                                                <span class="view__value">{{comic.view.totalView}}</span>
                                            </div>
                                            <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating" class="rate mt-2">
                                                <i class="rate__ico fas fa-star"></i>
                                                <span itemprop="ratingValue" class="rate__value">{{rateValue}}</span>
                                                <div class="rate__wrapper dropdown d-inline-block">
                                                    <div class="rate__wrapper__btn light-red badge badge-pill badge-primary mb-1" role="button" id="dropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        RATE
                                                    </div>
                                                    <div class="rate__wrapper__dropdown dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start"
                                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                        <div id="rating" class="rating" data-rate-value=5></div>
                                                        <div class="rateCount text-info text-center mt-2"> ( <span itemprop="reviewCount" class="countNum">{{rateCount}}</span> votes ) </div>
                                                        <div class="msg-success text-success text-center mt-2 d-none"> Rated </div>
                                                        <div class="msg-fail text-danger text-center mt-2 d-none"> You already Rated </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="l-grid__itemList card">
                                <div class="item">
                                    <div class="item__name">Status</div> <span class="item__value text-muted">Ongoing</span>
                                </div>
                                <div class="item">
                                    <div class="item__name">Author</div> 
                                    <span itemprop="author" class="item__value text-muted">
                                        {{#if comic.author}}{{comic.author}}
                                        {{else}}
                                        Updating
                                        {{/if}}
                                    </span>
                                </div>
                                <div class="item">
                                    <div class="item__name">Views</div> <span class="item__value item__value--bold">{{comic.view.totalView}}</span>
                                </div>
                            </div>
                            
                        </div>

                        <div id="rightbox" class="l-grid col-12 col-xl-9 col-md-8 col-sm-12">
                            <div class="l-grid__item card mb-4">
                                <div class="c-card card-body">
                                    <h2 itemprop="name" class="c-card__title font-weight-bold">{{comic.title}}</h2>
                                    <h4 itemprop="alternativeHeadline" class="c-card__sub-title text-muted text-small mb-3">
                                        {{comic.subtitle}}
                                        </h4>
                                    <div class="c-card__tags mb-3">
                                        {{#each comic.category}}
                                        <span class="badge badge-pill badge-outline-primary mb-1" style="font-weight: 500;">{{this.name}}</span>
                                        {{/each}}
                                    </div>
                                    <p class="c-card__heading font-weight-bold">Synopsis {{comic.title}}</p>
                                    <p class="c-card__description" itemprop="description">
                                        {{comic.description}}
                                    </p>
                                </div>
                            </div>

                            <div class="l-grid__item card mb-4">
                                <div class="button-wrapper">
                                    <a href="/comic/{{comic.slug}}/chapter-{{firstChapter.chapter}}"
                                        class="button-wrapper__firstChapter btn btn-primary light-red mb-1">
                                        <span class="firstChapter__name"> First Chapter </span>
                                        <span class="firstChapter__text"> Chapter {{firstChapter.chapter}}</span>
                                    </a>
                                    <a href="/comic/{{comic.slug}}/chapter-{{lastChapter.chapter}}"
                                        class="button-wrapper__lastChapter btn btn-primary light-red mb-1">
                                        <span class="lastChapter__name"> Last Chapter </span>
                                        <span class="lastChapter__name"> Chapter {{lastChapter.chapter}} </span>
                                    </a>
                                </div>
                                
                                <div class="chapter-wrapper">
                                    <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="chapter-wrapper__list">
                                        {{#each comic.chapters}}
                                        <li itemprop="itemListElement" itemscope
                                        itemtype="https://schema.org/ListItem" 
                                        class="chapter-wrapper__item">
                                            <a itemprop="item" class="chapter" href="/comic/{{../comic.slug}}/chapter-{{this.chapter}}" >
                                                <span itemprop="name" class="chapter__text" id="chapter-{{this._id}}" > Chapter {{this.chapter}} </span>
                                                <meta itemprop="position" content="{{sum @index 1}}" />
                                                <span class="chapter__date text-muted"> {{CalcTimeEnglish this.updatedAt}}</span>
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>

                        <div id="commentbox" class="col-12 mb-4"></div>
                    </div>
                    
                </div>
            </div>
        </section>

<instuff>

{{!-- user info --}}
<input name="userName" value="{{user.name}}" type="hidden"></input>
{{!-- comic info --}}
<input name="isComicComment" value="true" value=true type="hidden"></input>
<input name="isComicReply" value="true" value=true type="hidden"></input>
<input name="comicId" value="{{comic._id}}" type="hidden"></input>
<input name="title" value="{{comic.title}}" type="hidden"></input>
<input name="comicSlug" value="{{comic.slug}}" type="hidden"></input>

</instuff>




