
<style>
    #subnav {
        margin-bottom: 3rem;
    }
    .subnav-container {
        padding: 0 !important;
    }
</style>

        <section class="cover"> 
            <picture>
                <source srcset="{{img_url}}/{{comic.thumbnail.url}}-thumbnail-original.jpeg" type="image/jpeg" 
                media="(max-width: 768px)"/>

                <img itemprop="thumbnailUrl" class="backgroundBanner__img" alt="{{comic.title}} Background" 
                src="{{img_url}}/{{comic.thumbnail.url}}-thumbnail-original.jpeg" 
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== 769w"
                />
            </picture>
        </section>

        <section id="resize" class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <nav class="breadcrumb-container d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a id="linkcomic">{{comic.title}}</a>
                            </li>
                        </ol>
                    </nav>
                    <div class="separator mb-4"></div>
                    <div class="row">
                        <div id="leftbox" class="col-12 col-xl-3 col-md-4 col-sm-12 col-left" style="margin: 0 0 auto 0;">
                            <div class="infoLeft">
                                <div class="card infoLeft__img p-xl-3 col-5 col-xl-12 col-md-12 col-sm-4">
                                    {{#if comic.thumbnail}}
                                    <img src="https://s3.eu-central-1.wasabisys.com/cloudimagewallbucket/{{comic.thumbnail.url}}-thumbnail-original.jpeg"
                                        type="image/jpeg" alt="img" width="100%" height="auto">
                                    {{else}}
                                    <div id="message__missingThumbnail"
                                        style="vertical-align: middle;position: unset;position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;"
                                        class="alert alert-warning alert-dismissible fade show rounded pl-2 pr-1" role="alert">
                                        <strong class="ml-2">Bạn chưa upload Thumbnail</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span style="vertical-align: middle;" aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="p-3 card infoLeft__title col-sm-12">
                                    <h1 id="main-title" class="font-weight-bold">{{comic.title}}</h1>
                                    <h4 id="sub-title" class="text-muted text-small mb-3">{{comic.author}}</h4>
                                </div>
                                <div class="infoLeft__activities">
                                    <ul>
                                        <form onclick="return subscribe(this);" 
                                        class="{{#ifCond subscribe '==' true}}bookmark--subscribed{{/ifCond}}
                                        light-red bookmark btn btn-primary default btn-block mb-1">
                                            <input type="hidden" name="comicId" value="{{comic._id}}">
                                            <i class="bookmark__icon far fa-bookmark"></i>
                                            <span class="bookmark__text"></span>
                                        </form>
                                        <div class="group" style="box-shadow: 0 1px 15px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 10%);">
                                            <div class="group__item">
                                                <i class="fas fa-user-alt"></i>
                                                <span>{{comic.view.totalView}}</span>
                                            </div>

                                            {{!-- <div class="bar"></div> --}}
                                            
                                            <div class="mt-2 group__item">
                                                <i class="fas fa-star"></i>
                                                <span class="rateNum">{{rateValue}}</span>
                                                <div class="dropdown d-inline-block">
                                                    <div class="light-red rate badge badge-pill badge-primary mb-1" role="button" id="dropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        RATE
                                                    </div>
                                                    <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" x-placement="bottom-start"
                                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                        <div id="rating" class="rating" data-rate-value=5></div>
                                                        <div class="rateCount text-info text-center mt-2"> ( <span class="countNum">{{rateCount}}</span> votes ) </div>
                                                        <div class="msg-success text-success text-center mt-2 d-none"> Rated </div>
                                                        <div class="msg-fail text-danger text-center mt-2 d-none"> You already Rated </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </ul>
                                </div>
                                
                    
                                <div class="card infoLeft__info">
                                    <div class="box">
                                        <div class="box__name">Status</div> <span class="box__value text-muted">Ongoing</span>
                                    </div>
                                    <div class="box">
                                        <div class="box__name">Author</div> <span class="box__value text-muted">
                                            {{#if comic.author}}
                                                {{this}}
                                            {{else}}
                                            Updating
                                            {{/if}}
                                            </span>
                                    </div>
                                    <div class="box">
                                        <div class="box__name">Views</div> <span class="box__value box__value--bold">{{comic.view.totalView}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rightbox" class="col-12 col-xl-9 col-md-8 col-sm-12 col-right">
                            <div class="infoRight card mb-4">
                                <div class="infoRight__body card-body">
                                    <h1 id="main-title" itemprop="name" class="font-weight-bold">{{comic.title}}</h1>
                                    <h4 id="sub-title" itemprop="alternativeHeadline" class="text-muted text-small mb-3">
                                        {{comic.subtitle}}
                                        </h4>
                                    <div id="tags" class="mb-3">
                                        {{#each comic.category}}
                                        <span class="badge badge-pill badge-outline-primary mb-1" style="font-weight: 500;">{{this.name}}</span>
                                        {{/each}}
                                    </div>
                                    <p class="font-weight-bold">Synopsis {{comic.title}}</p>
                                    <p itemprop="description">
                                        {{comic.description}}
                                    </p>
                        
                        
                                </div>
                            </div>
                            <div class="chapterRight card mb-4">
                                <div class="btnbox card-body">
                                    <a href="/comic/{{comic.slug}}/chapter-{{firstChapter.chapter}}" class="light-red btnbox__firstChapter btn btn-primary mb-1">
                                        <span> First Chapter </span>
                                        <span style="font-size: 1.1rem;"> Chapter {{firstChapter.chapter}}</span>
                                    </a>
                                    <a href="/comic/{{comic.slug}}/chapter-{{lastChapter.chapter}}" class="light-red btnbox__lastChapter btn btn-primary mb-1">
                                        <span> Last Chapter </span>
                                        <span style="font-size: 1.1rem;"> Chapter {{lastChapter.chapter}} </span>
                                    </a>
                                </div>
                                <div class="listbox">
                                    {{#each comic.chapters}}
                                    <a href="/comic/{{../comic.slug}}/chapter-{{this.chapter}}" class="listbox__chapterbtn">
                                        <span class="chaptertext"> Chapter {{this.chapter}} </span>
                                        <span class="date text-muted"> {{CalcTimeEnglish this.updatedAt}}</span>
                                    </a>
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                        <div id="commentbox" class="col-12 mb-4"></div>
                    </div>
                    
                </div>
            </div>
        </section>

<instuff>

{{!-- user info --}}
<input name="user_id" value="{{user._id}}" type="hidden"></input>
<input name="userName" value="{{user.name}}" type="hidden"></input>
{{!-- comic info --}}
<input name="isComicComment" value="true" value=true type="hidden"></input>
<input name="isComicReply" value="true" value=true type="hidden"></input>
<input name="comicId" value="{{comic._id}}" type="hidden"></input>
<input name="title" value="{{comic.title}}" type="hidden"></input>
<input name="comicSlug" value="{{comic.slug}}" type="hidden"></input>

</instuff>




