<style>
    #navbar {
        background: var(--background-color) !important; 
    }
    html, body {
        background: var(--foreground-color) !important;
    }
</style>
<categories-wrapper id="categories-wrapper">
    <div class="categories-inner">
        <ul class="categories">
            <li onclick="location = this.children[0].href" class="category active">
            <a href="/comic/categories/all">All</a>
            </li>
            {{#each firstCategories}}
            <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/{{this.name}}">{{this.name}}</a></li>
            {{/each}}
            <li class="category"><div onclick="return drop(this);" class="more">More<i class="fas fa-sort-down"></i></div></li>
        </ul>
    </div>
    <div id="categories-outer" class="categories-outer">
        <ul class="categories">
            {{#each remainingCategories}}
            <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/{{this.name}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</categories-wrapper>


<section id="lastest-update-places" style="padding: 3rem 0 0 0;"></section>

<script id="history-template" type="text/x-handlebars-template">
    <wrapper-big class="container">

        <heading class="container">
            <h2 class="title">
                Lastest Update
            </h2>
            <icon-right>
                <i class="fas fa-chevron-right"></i>
            </icon-right>
        </heading>
        
        <grid-container>
            \{{#each comics}}
            <item class="item item--border">
                
                <picture>
                    <source srcset="\{{this.thumbnail}}-thumbnail.webp" type="image/webp" />
                    <source srcset="\{{this.thumbnail}}-thumbnail.jpeg" type="image/jpeg" />
            
                    <img alt="\{{this.title}}" width="92" height="120" src="\{{this.thumbnail}}-thumbnail.jpeg"
                        onerror="this.onerror=null;this.src='/img/404.jpg';" />
                </picture>
                
                <info>
                    <a href="\{{this.comicUrl}}"><title class="title title--ellipsis">\{{this.title}}</title></a> 
                    <chapter-box>
                        
                        \{{#each (limit chapterNameList 2)}}
                        <a href="\{{../this.chapterUrl}}">
                            <chapter class="chapter" id="chapter-\{{this._id}}">
                                \{{this.chapter}}
                            </chapter>
                        </a>
                        \{{/each}}
                    </chapter-box>
                </info>
            </item>
            \{{/each}}
        </grid-container>

    </wrapper-big>
</script>

