<section id="top-displayer" itemprop="articleSection">
    <background-banner id="background-banner" class="backgroundBanner">
    {{#each config.banner_background}}
        <picture>
            <source srcset="{{../img_url}}/{{this.url}}-thumbnail-webp.webp" type="image/webp" 
            media="(min-width: 1200px)"/>
            <source srcset="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" 
            media="(min-width: 1200px)"/>

            <img class="backgroundBanner__img" alt="Background Banner" 
            src="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" 
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== 1200w"
            />
        </picture>
    {{/each}}
    </background-banner>
    <grid-container>
        <banner-main>
            <div id="glide_banner" class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {{#each config.banner}}
                        <li class="glide__slide">
                            <a href="#" class="frame">
                                <picture>
                                    <source 
                                    srcset="{{../img_url}}/{{this.url}}-thumbnail-webp.webp" type="image/webp" 
                                    media="(min-width: 650px)"/>
                                    <source 
                                    srcset="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" 
                                    media="(min-width: 650px)"/>
                                    <source 
                                    srcset="{{../img_url}}/{{this.url}}-thumbnail-small.webp" type="image/webp" 
                                    media="(min-width: 0px)"/>
                                
                                    <img style="width: 100%;height: 100%;"
                                    {{!-- width="800" height="400" --}}
                                    alt="banner" 
                                    src="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg"
                                    />
                                </picture>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="glide__arrows slider-nav" data-glide-el="controls">
                    <div class="glide__bullets slider-dot-container" data-glide-el="controls[nav]">
                        <button class="glide__bullet glide__bullet--custom slider-dot glide__bullet--active"
                            data-glide-dir="=0"></button>
                        <button class="glide__bullet glide__bullet--custom slider-dot" data-glide-dir="=1"></button>
                        <button class="glide__bullet glide__bullet--custom slider-dot" data-glide-dir="=2"></button>
                    </div>
                </div>
            </div>
        </banner-main>
        <banner-topright class="topright-pic" >
            {{#each config.banner_topright}}
            <picture>
                <source srcset="{{../img_url}}/{{this.url}}-thumbnail-webp.webp" type="image/webp" media="(min-width: 1200px)" />
                <source srcset="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" media="(min-width: 1200px)" />
            
                <img alt="Banner Top images" 
                    src="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" 
                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== 1200w"
                />
            </picture>
            {{/each}}
        </banner-topright>
        <banner-botright class="topbot-pic">
            {{#each config.banner_botright}}
            <picture>
                <source srcset="{{../img_url}}/{{this.url}}-thumbnail-webp.webp" type="image/webp" media="(min-width: 1200px)" />
                <source srcset="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" media="(min-width: 1200px)" />
            
                <img alt="Banner Bottom images" 
                    src="{{../img_url}}/{{this.url}}-thumbnail-jpeg.jpeg" 
                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== 1200w"
                />
            </picture>
            {{/each}}
        </banner-botright>
    </grid-container>
</section>

<section id="categories-nav" itemprop="articleSection">
    <ul class="categoires-container">
        <li id="hidden-btn" class="category" style="color: var(--button-text-unimportant);"
        data-toggle="tooltip" data-placement="top" title=" Under Construction !! ">
            <i class="fas fa-2x fa-chevron-circle-down"></i>
        </li>
        <li onclick="location = this.children[0].href" class="category active"><a href="/comic/categories/Action">Action</a></li>
        <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/Adventure">Adventure</a></li>
        <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/Romance">Romance</a></li>
        <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/Fantasy">Fantasy</a></li>
        <li onclick="location = this.children[0].href" class="category"><a href="/comic/categories/SliceofLife">Slice of Life</a></li>
        <li onclick="location = this.children[0].href" class="more"><a href="/comic/categories/all">MORE GENRES</a></li>
    </ul>
</section>

<section id="welcome-places" itemprop="articleSection" class="foreground-color border-bottom-2">
    <heading class="container">
        <h2 class="title">
            <a href="/comic/categories/all"> New To DORE</a>
        </h2>
        <icon-right>
            <i class="fas fa-chevron-right"></i>
        </icon-right>
    </heading>

    <slider-container id="slider-container" class="d-block container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 pl-0 pr-0">
                        <div id="glide_1" class="glide basic">
                            <div class="glide__track" data-glide-el="track">
                                <div class="glide__slides glide__slides--custom">

                                    <div class="glide__slide glide__slide--2">
                                        {{#each (limitFrom config.slider 0 4)}}
                                            {{#ifCond @index '!%' 4}}
                                            <item style="min-height: 210px;">
                                                <glide-img>
                                                    <picture class="lazy">
                                                        <source 
                                                            data-srcset="{{../../img_url}}/{{../this.url}}-thumbnail-webp.webp"
                                                            data-srcmain="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg" type="image/webp" />
                                                        <img 
                                                        width="210" height="210" alt="{{../this.title}}" 
                                                        onerror="this.onerror=null;this.src='/img/404.jpg';" />
                                                    </picture>
                                                </glide-img>
                                                <comic-info class="comic-info comic-info--top">
                                                    <title class="title title--ellipsis title--bot color-black">
                                                        {{../this.title}}
                                                    </title>
                                                    <grade class="color-black">
                                                        <a href="#" class="fas fa-heart color-theme-2"><span class="num">35. 657</span></a>
                                                    </grade>
                                                    <category class="d-none">
                                                        Action
                                                    </category>
                                                </comic-info>
                                                <comic-info-back class="comic-info-back">
                                                    <color-overlay></color-overlay>
                                                    <title class=" title--ellipsis title--bot">
                                                        {{../this.title}}
                                                    </title>
                                                    <author>
                                                        <a href="#">{{../this.author}}</a>
                                                    </author>
                                                    <description class="description--ellipsis-default">
                                                        {{../this.description}}
                                                    </description>
                                                </comic-info-back>
                                            </item>
                                            {{else}}
                                            <item style="min-height: 165px;">
                                                <glide-img>
                                                    <picture class="lazy">
                                                        <source 
                                                            data-srcset="{{../../img_url}}/{{../this.url}}-thumbnail-webp.webp"
                                                            data-srcmain="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg" type="image/webp" />
                                                    
                                                        <img 
                                                        width="auto" height="165" alt="{{../this.title}}" 
                                                        onerror="this.onerror=null;this.src='/img/404.jpg';" />
                                                    </picture>
                                                </glide-img>
                                                <comic-info class="comic-info comic-info--top">
                                                    <title class="title title--ellipsis title--bot color-white">
                                                        {{../this.title}}
                                                    </title>
                                                    <description>
                                                        {{../this.description}}
                                                    </description>
                                                    <grade>
                                                        <a href="#" class="fa fa fa-heart color-theme-2"><span class="num">352. 657</span></a>
                                                    </grade>
                                                    <category class="d-none">
                                                        Action
                                                    </category>
                                                </comic-info>
                                                <comic-info-back class="comic-info-back comic-info-back--wide">
                                                    <color-overlay></color-overlay>
                                                    <title class=" title--ellipsis title--bot">
                                                        {{../this.title}}
                                                    </title>
                                                    <author>
                                                        <a href="#">{{this.author}}</a>
                                                    </author>
                                                    <description class="description--ellipsis-wide">
                                                        {{../this.description}}
                                                    </description>
                                                </comic-info-back>
                                            </item>
                                            {{/ifCond}}
                                        {{/each}}
                                    </div>

                                    <div class="glide__slide glide__slide--2">
                                        {{#each (limitFrom config.slider 4 8)}}
                                            {{#ifCond @index '!%' 4}}
                                            <item>
                                                <glide-img>
                                                    <picture>
                                                        <source srcset="{{../../img_url}}/{{../this.url}}-thumbnail-webp.webp" type="image/webp" />
                                                        <source srcset="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" />
                                                    
                                                        <img 
                                                        alt="{{../this.title}}"
                                                        width="210" height="210" src="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg"
                                                            onerror="this.onerror=null;this.src='/img/404.jpg';" />
                                                    </picture>
                                                </glide-img>
                                                <comic-info class="comic-info comic-info--top">
                                                    <title class="title title--ellipsis title--bot color-black">
                                                        {{../this.title}}
                                                    </title>
                                                    <grade class="color-black">
                                                        <a href="#" class="fa fa fa-heart color-theme-2"><span class="num">35. 657</span></a>
                                                    </grade>
                                                    <category class="d-none">
                                                        Action
                                                    </category>
                                                </comic-info>
                                                <comic-info-back class="comic-info-back">
                                                    <color-overlay></color-overlay>
                                                    <title class=" title--ellipsis title--bot">
                                                        {{../this.title}}
                                                    </title>
                                                    <author>
                                                        <a href="#">{{../this.author}}</a>
                                                    </author>
                                                    <description class="description--ellipsis-default">
                                                        {{../this.description}}
                                                    </description>
                                                </comic-info-back>
                                            </item>
                                            {{else}}
                                            <item>
                                                <glide-img>
                                                    <picture>
                                                        <source srcset="{{../../img_url}}/{{../this.url}}-thumbnail-small.webp" type="image/webp" />
                                                        <source srcset="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg" type="image/jpeg" />
                                                    
                                                        <img 
                                                        alt="{{../this.title}}"
                                                        src="{{../../img_url}}/{{../this.url}}-thumbnail-jpeg.jpeg"
                                                            onerror="this.onerror=null;this.src='/img/404.jpg';" />
                                                    </picture>
                                                </glide-img>
                                                <comic-info class="comic-info comic-info--top">
                                                    <title class="title title--ellipsis title--bot color-white">
                                                        {{../this.title}}
                                                    </title>
                                                    <description>
                                                        {{../this.description}}
                                                    </description>
                                                    <grade>
                                                        <a href="#" class="fa fa fa-heart color-theme-2"><span class="num">352. 657</span></a>
                                                    </grade>
                                                    <category class="d-none">
                                                        Action
                                                    </category>
                                                </comic-info>
                                                <comic-info-back class="comic-info-back comic-info-back--wide">
                                                    <color-overlay></color-overlay>
                                                    <title class=" title--ellipsis title--bot">
                                                        {{../this.title}}
                                                    </title>
                                                    <author>
                                                        <a href="#">{{this.author}}</a>
                                                    </author>
                                                    <description class="description--ellipsis-wide">
                                                        {{../this.description}}
                                                    </description>
                                                </comic-info-back>
                                            </item>
                                            {{/ifCond}}
                                        {{/each}}
                                    </div>


                                </div>
                            </div>
                            {{!-- <div class="glide__arrows sliderBox" data-glide-el="controls">
                                <span class="slick-prev" aria-label="Previous"
                                    data-glide-dir="<">
                                    <i class="fas fa-2x fa-chevron-left"></i>
                                </span>
                                <span class="slick-next" aria-label="Next" data-glide-dir=">">
                                    <i class="fas fa-2x fa-chevron-right"></i>
                                </span>
                            </div> --}}
                            <div class="glide__arrows glide__arrows--custom slider-nav" data-glide-el="controls">
                                <div class="glide__bullets slider-dot-container" data-glide-el="controls[nav]">
                                    <button class="glide__bullet glide__bullet--custom slider-dot" data-glide-dir="=0"></button>
                                    <button class="glide__bullet glide__bullet--custom slider-dot" data-glide-dir="=1"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slider-container>
</section>

<section id="bookmark-places" itemprop="articleSection"class="foreground-color">
    <heading class="container">
        <h2 class="title">
            <a href="/comic/bookmark"> My Series</a>
        </h2>
        <icon-right>
            <i class="fas fa-chevron-right"></i>
        </icon-right>
    </heading>

    <slider-container id="slider-container" class="d-block container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 pl-0 pr-0">
                        <div id="glide_2" class="glide basic">
                            <div class="glide__track" data-glide-el="track">
                                <div id="glide__slides" class="glide__slides">
                                
                                </div>
                            </div>
                            
                            <div class="glide__arrows slider-nav" data-glide-el="controls">
                                <div class="glide__bullets slider-dot-container" data-glide-el="controls[nav]">
                                    <button class="glide__bullet slider-dot" data-glide-dir="=0"></button>
                                    <button class="glide__bullet slider-dot" data-glide-dir="=1"></button>
                                    <button class="glide__bullet slider-dot" data-glide-dir="=2"></button>
                                    <button class="glide__bullet slider-dot" data-glide-dir="=3"></button>
                                    <button class="glide__bullet slider-dot" data-glide-dir="=4"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slider-container>
</section>

<section id="lastest-update-places" itemprop="articleBody">
    <wrapper-big class="container">

        <heading class="container">
            <h2 class="title">
                <a href="/comic/categories/all?_sort&column=updatedAt&order=-1"> Lastest Update</a>
            </h2>
            <icon-right>
                <i class="fas fa-chevron-right"></i>
            </icon-right>
        </heading>
        
        <grid-container>
            {{#each comics}}
            <item class="item item--border position-relative">
                <div class="intrinsic" style="--aspect-ratio: 92/120;">
                    <picture class="lazy">
                        <source data-srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail-webp.webp"
                            data-srcmain="{{../img_url}}/{{this.thumbnail.url}}-thumbnail-jpeg.jpeg" type="image/webp" />
                    
                        <img width="92" height="120" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== "
                            alt="{{this.title}}" onerror="this.onerror=null;this.src='/img/404.jpg';" />
                    </picture>
                </div>
                
                
                <div class="grade-overlay"></div>
                <div class="grade grade--bottom">
                    <i class="far fa-star"><span class="num">{{totalRating this.rate.rateCount this.rate.rateValue}}</span></i>
                </div>
                <info>
                    <a href="./comic/{{this.slug}}"><title class="title title--ellipsis">{{this.title}}</title></a> 
                    <chapter-box>
                        {{#each (limit lastest_chapters 2)}}
                        <a href="/comic/{{../this.slug}}/{{this.chapter}}">
                            <chapter class="chapter" id="chapter-{{this._id}}">{{replaceHyphenIntoSpace this.chapter}}<span class="left-auto">{{CalcTimeEnglish this.updatedAt}}</span></chapter>
                        </a>
                        {{/each}}
                    </chapter-box>
                </info>
            </item>
            {{/each}}
        </grid-container>

        {{> pagination}} 
        

    </wrapper-big>
</section>

<section id="comics-gridbox" itemprop="articleSection" class="mb-4 border-top-bot-3">
    <intro-container class="intro">
        <h2>
            <a href="/comic/categories/all?_sort&column=view.totalView&order=-1"> MOST POPULAR </a>
        </h2>
        <p>
            Spend your free time 
            </br>In Epic tales of grand journeys 
            </br>All these Popular series on Dorecomic.
        </p>
        <btn-intro>
            <a href="/comic/categories/all?_sort&column=view.totalView&order=-1">Find out more</a> 
        </btn-intro>
    </intro-container>

    <grid-container class="grid">
        {{#each topComicsByView}}
        <grid-comic-item class="grid__item">
            <a href="/comic/{{this.slug}}">
                
                <div class="intrinsic" style="--aspect-ratio: 160/160;">
                    <background-overlay></background-overlay>

                    <picture class="lazy">
                        <source data-srcset="{{../img_url}}/{{this.thumbnail.url}}-thumbnail-webp.webp"
                            data-srcmain="{{../img_url}}/{{this.thumbnail.url}}-thumbnail-jpeg.jpeg" type="image/webp" />
                    
                        <img width="160" height="160" alt="{{this.title}}" onerror="this.onerror=null;this.src='/img/404.jpg';" />
                    </picture>
                </div>
                

                <comic-info>
                    <title class="title title--ellipsis title--bot">
                        {{this.title}}
                    </title>
                    <grade class="ellipsis">
                        {{this.author}}
                    </grade>
                    <category class="d-none">
                        Action
                    </category>
                </comic-info>
            </a>
        </grid-comic-item>
        {{/each}}
        
    </grid-container>
</section>





