<head>
    <meta charset="UTF-8">
    <title>Dore jQuery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body id="app-container" class="menu-default show-spinner">
    

<style>
    .dropdown-item:hover,
    .dropdown-item:active {
        border-radius: 15px !important;
    }
</style>

    <main>
        <div class="container-fluid">

            

            <div class="row">
                <div class="col-12">

                    <h1>Hello {{user.name}} !! </h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Library</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <div class="separator mb-5"></div>


                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card dashboard-filled-line-chart">
                        <div class="card-body ">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">Website Visits</h5>
                                    <span class="text-muted text-small d-block">Unique Visitors</span>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mt-2">
                                <button class="btn btn-outline-primary btn-xs dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    This Week
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">This Month</a>
                                </div>
                            </div>
                        </div>
                        <div class="chart card-body pt-0">
                            <canvas id="visitChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card dashboard-filled-line-chart">
                        <div class="card-body ">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">Pages Viewed</h5>
                                    <span class="text-muted text-small d-block">Per Session</span>
                                </div>
                            </div>
                            <div class="btn-group float-right mt-2 float-none-xs">
                                <button class="btn btn-outline-secondary btn-xs dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    This Week
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">This Month</a>
                                </div>
                            </div>
                        </div>
                        <div class="chart card-body pt-0">
                            <canvas id="conversionChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-12 col-xl-6">

                    <div class="icon-cards-row">
                        <div class="glide dashboard-numbers">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    <li class="glide__slide">
                                        <a href="/me/stored/comics/comic-list?_sort&column=isPublish&type=asc" class="card">
                                            <div class="card-body text-center">
                                                <i class="iconsminds-clock"></i>
                                                <p class="card-text mb-0">Pending Comics</p>
                                                <p class="lead text-center">{{pendingComic}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="glide__slide">
                                        <a href="/me/stored/comics/comic-list?_sort&column=isPublish&type=desc" class="card">
                                            <div class="card-body text-center">
                                                <i class="iconsminds-basket-coins"></i>
                                                <p class="card-text mb-0">Published Comics</p>
                                                <p class="lead text-center">{{publishedComic}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="glide__slide">
                                        <a href="#" class="card">
                                            <div class="card-body text-center">
                                                <i class="iconsminds-arrow-refresh"></i>
                                                <p class="card-text mb-0">Categories</p>
                                                <p class="lead text-center">2</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="glide__slide">
                                        <a href="#" class="card">
                                            <div class="card-body text-center">
                                                <i class="iconsminds-mail-read"></i>
                                                <p class="card-text mb-0">New Comments</p>
                                                <p class="lead text-center">25</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card">

                                <div class="card-body">
                                    <table class="data-table data-table-scrollable responsive nowrap"
                                        data-order="[[ 1, &quot;desc&quot; ]]">
                                        <thead style="cursor: pointer;">
                                            <div class="search-sm d-inline-block float-md-left mb-3 align-top">
                                                <input id="search" placeholder="Search..." type="text">
                                            </div>
                                            <tr>
                                                <th>User Name</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Edit Role</th>
                                                <th>Delete User</th>
                                            </tr>
                                        </thead>
                                        <tbody id="match-list">
                                       
                                        {{#each users}}
                                            <tr>
                                                <td>
                                                    <p class="list-item-heading">{{this.name}}</p>
                                                </td>
                                                <td>
                                                    <p class="text-muted">{{this.role}}</p>
                                                </td>
                                                <td>
                                                    {{#ifCond this.banned '==' 'true'}}
                                                    <div class="w-15 w-sm-100">
                                                        <span class="badge badge-danger">Banned</span>
                                                    </div>
                                                    {{else}}
                                                    <div class="w-15 w-sm-100">
                                                        <span class="badge badge-secondary">Normal</span>
                                                    </div>
                                                    {{/ifCond}} 
                                                </td>
                                                <td>
                                                    <div class="btn-group dropleft mb-1">
                                                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle DropLeft</span>
                                                        </button>
                                                        {{#ifCond this.role '!=' 'admin'}}
                                                        <div class="dropdown-menu" x-placement="left-start"
                                                            style="color: var(--theme-color-5); position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-162px, 0px, 0px);">                                
                                                            {{#ifCond ../ this.role '!=' 'extraAdmin'}}
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-id="{{../ this._id}}" data-target="#up-to-extraAdmin">  
                                                                    <Span class="text-info">Up to Extra Admin</Span>
                                                            </a>
                                                            {{/ifCond}}
                                                            {{#ifCond ../ this.role '!=' 'user'}}
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-id="{{../ this._id}}" data-target="#down-to-user">
                                                                    <Span class="text-danger">Remove Extra Admin</Span>
                                                            </a>
                                                            {{/ifCond}}
                                                        </div>
                                                        {{/ifCond}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group dropleft mb-1">
                                                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle DropLeft</span>
                                                        </button>
                                                        {{#ifCond this.role '!=' 'admin'}}
                                                        <div class="dropdown-menu" x-placement="left-start" 
                                                        style="color: var(--theme-color-5); position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-162px, 0px, 0px);">
                                                            {{#ifCond ../ this.banned '==' 'false'}}
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-id="{{../ this._id}}" data-target="#ban-user">
                                                                <Span class="text-muted">Ban (Cấm)</Span>
                                                            </a>
                                                            {{/ifCond}}
                                                            {{#ifCond ../ this.banned '==' 'true'}}
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-id="{{../ this._id}}" data-target="#unban-user">
                                                                <Span class="text-success">UnBan (Mở Cấm)</Span>
                                                            </a>
                                                            {{/ifCond}}
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-id="{{../ this._id}}" data-target="#remove-user">
                                                                <Span class="text-danger">Remove (Xóa)</Span>
                                                            </a>
                                                        </div>
                                                        {{/ifCond}}
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}    
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Top Viewed Comics</h5>
                            <table class="data-table data-table-standard responsive nowrap"
                                data-order="[[ 1, &quot;desc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Views</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each comicListView}}
                                    <tr>
                                        <td>
                                            <a href="/me/stored/comics/{{this.slug}}/edit">
                                                <p class="list-item-heading">{{this.title}}</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="text-muted">{{this.view}}</p>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card dashboard-link-list">
                        <div class="card-body">
                            <h5 class="card-title">Categories</h5>
                            <div class="d-flex flex-row">
                                <div class="w-50">
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-1">
                                            <a href="#">Marble Cake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Fruitcake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Chocolate Cake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Fat Rascal</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Financier</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Genoise</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Gingerbread</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Goose Breast</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Parkin</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Petit Gâteau</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Salzburger Nockerl</a>
                                        </li>
                                        <li>
                                            <a href="#">Soufflé</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="w-50">
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-1">
                                            <a href="#">Streuselkuchen</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Tea Loaf</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Napoleonshat</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Merveilleux</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Magdalena</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Cremeschnitte</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Cheesecake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Bebinca</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Fruitcake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Chocolate Cake</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Fat Rascal</a>
                                        </li>
                                        <li class="mb-1">
                                            <a href="#">Financier</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-8 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Comments</h5>

                            <div class="scroll dashboard-list-with-user">
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Very informative content, thank you. </p>
                                            <p class="text-muted mb-0 text-small">Mayra Sibley | Tea Loaf with Fresh
                                                Oranges | 17.09.2018 - 04:45</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">This article was delightful to read.
                                                Please keep them coming.</p>
                                            <p class="text-muted mb-0 text-small">Barbera Castiglia | Cheesecake with
                                                Chocolate Cookies | 15.08.2018 - 01:18</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Your post is bad and you should feel
                                                bad.</p>
                                            <p class="text-muted mb-0 text-small">Bao Hathaway | Homemade Cheesecake |
                                                26.07.2018 - 11:14</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Very original idea!</p>
                                            <p class="text-muted mb-0 text-small">Lenna Majeed | Tea Loaf with Fresh
                                                Oranges | 17.06.2018 - 09:20</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">This article was delightful to read.
                                                Please keep them coming.</p>
                                            <p class="text-muted mb-0 text-small">Esperanza Lodge | Cheesecake with
                                                Fresh Berries | 16.06.2018 - 16:45</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img alt="Profile Picture" src="/img/goose-breast-thumb.jpg"
                                            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Nah, did not like it.</p>
                                            <p class="text-muted mb-0 text-small">Brynn Bragg | Wedding Cake with
                                                Flowers | 12.04.2018 - 12:45</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            



            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <i class="iconsminds-clock mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">{{pendingComic}} Comics</p>
                                    <p class="text-small text-white">Pending for publish</p>
                                </div>
                            </div>

                            <div>
                                <div role="progressbar"
                                    class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                                    data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12"
                                    data-show-percent="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">4 Users</p>
                                    <p class="text-small text-white">On approval process</p>
                                </div>
                            </div>
                            <div>
                                <div role="progressbar"
                                    class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                                    data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="4" aria-valuemax="6"
                                    data-show-percent="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner">
                        <a href="#" class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <i class="iconsminds-bell mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">8 Alerts</p>
                                    <p class="text-small text-white">Waiting for notice</p>
                                </div>
                            </div>
                            <div>
                                <div role="progressbar"
                                    class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                                    data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="8" aria-valuemax="10"
                                    data-show-percent="false">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    

</body>

{{!-- hidden form to POST stuff --}}
<form name="hidden-form" method="POST">

</form>

{{!-- Confirm up role --}}
<div id="up-to-extraAdmin" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi Role </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn thay đổi role người dùng này lên 
                    <span class="text-info">extraAdmin</span>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-up-role" type="button" class="btn btn-danger">
                    Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm down role --}}
<div id="down-to-user" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi Role </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn thay đổi role người dùng này xuống 
                    <span class="text-muted"> user </span>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-down-role" type="button" class="btn btn-danger">
                    Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm Ban user --}}
<div id="ban-user" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cấm User này </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn <span class="text-muted"> Cấm </span>
                 người dùng này không ?
                </p>
                <p class="text-info">Có thể hoàn tác lại sau khi <span class="text-muted"> Cấm </span>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-ban-user" type="button" class="btn btn-danger">
                    Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm unban user --}}
<div id="unban-user" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cấm User này </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn <span class="text-success"> Mở Cấm </span>
                 người dùng này không ?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-unban-user" type="button" class="btn btn-danger">
                    Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm Remove User--}}
<div id="remove-user" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa User này </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn <span class="text-danger">Xóa Vĩnh viễn</span>
                    người dùng này không ?
                </p>
                <p class="text-danger"> Không thể hoàn tác lại sau khi xóa
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger">
                    Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

<script id="userSearch-template" type="text/x-handlebars-template">
\{{#each users}}
    <tr>
        <td>
            <p class="list-item-heading">\{{this.name}}</p>
        </td>
        <td>
            <p class="text-muted">\{{this.role}}</p>
        </td>
        <td>
            \{{#ifCond this.banned '==' 'true'}}
            <div class="w-15 w-sm-100">
                <span class="badge badge-danger">Banned</span>
            </div>
            \{{else}}
            <div class="w-15 w-sm-100">
                <span class="badge badge-secondary">Normal</span>
            </div>
            \{{/ifCond}}
        </td>
        <td>
            <div class="btn-group dropleft mb-1">
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle DropLeft</span>
                </button>
                \{{#ifCond this.role '!=' 'admin'}}
                <div class="dropdown-menu" x-placement="left-start"
                    style="color: var(--theme-color-5); position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-162px, 0px, 0px);">
                    \{{#ifCond this.role '!=' 'extraAdmin'}}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-id="\{{this._id}}"
                        data-target="#up-to-extraAdmin">
                        <Span class="text-info">Up to Extra Admin</Span>
                    </a>
                    \{{/ifCond}}
                    \{{#ifCond this.role '!=' 'user'}}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-id="\{{this._id}}"
                        data-target="#down-to-user">
                        <Span class="text-danger">Remove Extra Admin</Span>
                    </a>
                    \{{/ifCond}}
                </div>
                \{{/ifCond}}
            </div>
        </td>
        <td>
            <div class="btn-group dropleft mb-1">
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle DropLeft</span>
                </button>
                \{{#ifCond this.role '!=' 'admin'}}
                <div class="dropdown-menu" x-placement="left-start"
                    style="color: var(--theme-color-5); position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-162px, 0px, 0px);">
                    \{{#ifCond  this.banned '==' 'false'}}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-id="\{{this._id}}"
                        data-target="#ban-user">
                        <Span class="text-muted">Ban (Cấm)</Span>
                    </a>
                    \{{/ifCond}}
                    \{{#ifCond  this.banned '==' 'true'}}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-id="\{{this._id}}"
                        data-target="#unban-user">
                        <Span class="text-success">UnBan (Mở Cấm)</Span>
                    </a>
                    \{{/ifCond}}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-id="\{{this._id}}"
                        data-target="#remove-user">
                        <Span class="text-danger">Remove (Xóa)</Span>
                    </a>
                </div>
                \{{/ifCond}}
            </div>
        </td>
    </tr>
\{{/each}}
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        /* Start Search */
        var userData
        var pathname = window.location.pathname
        var domainName = window.location.href.split(`${pathname}`).shift() 
        var fetchAPIUrl = `${domainName}/fetch/users`
        var search = document.getElementById('search');
        var matchList = document.getElementById('match-list');
        var source = document.getElementById("userSearch-template").innerHTML;
        var invoke_one_time = true;
        var templateObjProperty = 'users'
        

        search.addEventListener("click", runSearch_OneTime);


        function filterProperty(data, regex) {
            return data.name.match(regex) || data.role.match(regex) || data.banned.match(regex)
        } 
        function runSearch_OneTime() {
            if (invoke_one_time) {
                runSearch()
                invoke_one_time = false;
            }
        }
        
        runSearch = async () => {
            userData = await getData(fetchAPIUrl)
            SearchHandler(userData, search, matchList, source, templateObjProperty, filterProperty)  
        } /* End Search */
        

        /* Start Form */
        var userId;
        var hiddenForm = document.forms['hidden-form'];
        var btnUpRole = document.getElementById('btn-up-role');
        var btnDownRole = document.getElementById('btn-down-role');
        var btnBanUser = document.getElementById('btn-ban-user');
        var btnUnbanUser = document.getElementById('btn-unban-user');
        var btnDeleteUser = document.getElementById('btn-delete-user'); 

        

        $('#up-to-extraAdmin').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });
        btnUpRole.onclick = function () {
            hiddenForm.action = '/users/changerole/extraAdmin/' + userId + '?_method=PUT'
            hiddenForm.submit();
        };

        $('#down-to-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });
        btnDownRole.onclick = function () {
            hiddenForm.action = '/users/changerole/user/' + userId + '?_method=PUT'
            hiddenForm.submit();
        };

        $('#ban-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });
        btnBanUser.onclick = function () {
            hiddenForm.action = '/users/changeStatus/true/' + userId + '?_method=PUT'
            hiddenForm.submit();
        };

        $('#unban-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });
        btnUnbanUser.onclick = function () {
            hiddenForm.action = '/users/changeStatus/false/' + userId + '?_method=PUT'
            hiddenForm.submit();
        };

        $('#remove-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });
        btnDeleteUser.onclick = function () {
            hiddenForm.action = '/users/deleteUser/' + userId + '?_method=DELETE'
            hiddenForm.submit();
        }; /* End Form */
    });
</script>